{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
  <head><title>revert to old revision</title></head>
  <body>
    <form method="POST" id="form">
      <select name="revision" id="select">
        {% for revision in revisions %}
          <option>{{ revision }}</option>
        {% endfor %}
      </select>
      <br>
      <button id="submit">submit</button>
    </form>
    <script>
      let select = document.getElementById("select");
      select.size = parseInt("{{ revisions | length }}");
    </script>
    {{ macros::form_result(form_id="form", submit_id="submit", remove_selected_from_id="select") }}
  </body>
</html>
